
// @import './atom/tag.scss';
 @import './grid/grid.scss';
 @import './tools/margin.scss';
 @import './atom/item.scss';

 body {
    // height: 100vh;
    overflow-x: hidden;
    // padding-top: 55px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
  }

.test {
    color: blue;
}